<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Statistics</title>
    <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
    
    <style>

    </style>

</head>
<body>
    <h1>Student Average Commute time for School B</h1>
    <div id="chart"></div>
</body>
    
    <script type="text/javascript">

        var w = 400;
        var h = 400;
        var r = h/2;
        var color = d3.scale.category20c();

        var data = [{"label": "jon", "value": "883966.4063662657"},
                    {"label": "Dheeraj", "value": "378840.9688367446"},
                    {"label": "siva", "value": "1037374.9819163224"},
                    {"label":"Piyush", "value": " 999123.1408244582"},
                    {"label": "ameya", "value": "672707.1130251263"},
                    {"label": "upendra", "value": "6978275.031093644"},
                    {"label": "ted", "value": "1329675.2088094787"}];

        var vis = d3.select('#chart').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");
        var pie = d3.layout.pie().value(function(d){return d.value;});

        // declare an arc generator function
        var arc = d3.svg.arc().outerRadius(r);

        // select paths, use arc generator to draw
        var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
        arcs.append("svg:path")
            .attr("fill", function(d, i){
                return color(i);
            })
            .attr("d", function (d) {
                // log the result of the arc generator to show how cool it is :)
                console.log(arc(d));
                return arc(d);
            });

        // add the text
        arcs.append("svg:text").attr("transform", function(d){
                    d.innerRadius = 0;
                    d.outerRadius = r;
            return "translate(" + arc.centroid(d) + ")";}).attr("text-anchor", "middle").text( function(d, i) {
            return data[i].label;}
                );
    </script>
</html>




