<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
<body>
<script src='./static/js/graph.js' type='text/javascript'></script>
<script type="text/javascript">
	document.write("javascript");
	document.log("in makeGraphs")
	
	queue()
		.defer(d3.json,"/data")
		.defer(d3.json,"/static/geojson/us-states.json")
	   	.await(makeGraphs);

	
	function makeGraphs(error,datajson,geojson)
	{
		var data = datajson;
		document.log(data);
		document.log(geojson);
	}

</script>

<script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>
</body>
</html>